<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mockUp</title>
    <link rel="stylesheet" href="/css/mockUp.css">
</head>
<body>
<!--<nav>-->
<!--    <ul>-->
<!--        <li><button>p1</button></li>-->
<!--        <li><button>p2</button></li>-->
<!--        <li><button>p3</button></li>-->
<!--        <li><button>+</button></li>-->
<!--        <li><button>Save</button></li>-->
<!--    </ul>-->
<!--</nav>-->


    <div id="pageContent">
    <h1 id="monthName">Compte</h1>
    <div id="fluxTable">
        <section class="tableau">
            <h2>Entrée</h2>
            <article>
                <h3>Payement</h3>
                <h4>Salaire</h4>
                <ul>
                    <li><input type="text" placeholder="Libellé"><input type="text" placeholder="0.00€"></li>
                    <li><input type="text" placeholder="Libellé"><input type="text" placeholder="0.00€"></li>
                    <li><input type="text" placeholder="Libellé"><input type="text" placeholder="0.00€"></li>
                </ul>
            </article>
        </section>

        <section class="tableau">
            <h2>Sortie</h2>
            <article>
                <h3>Frais</h3>
                <h4>Appartement</h4>
                <ul>
                    <li><input type="text" placeholder="Libellé"><input type="text" placeholder="0.00€"></li>
                    <li><input type="text" placeholder="Libellé"><input type="text" placeholder="0.00€"></li>
                    <li><input type="text" placeholder="Libellé"><input type="text" placeholder="0.00€"></li>
                </ul>
            </article>
        </section>
    </div>
</div>

  <section id="epargne">
      <h2>Epargne</h2>
      <article>
          <h3>Epargne</h3>
          <ul>
              <li><input type="text" placeholder="Libellé"><input type="text" placeholder="0.00€"></li>
          </ul>
          <h3>Economie</h3>
          <ul>
              <li><input type="text" placeholder="Libellé"><input type="text" placeholder="0.00€"></li>
              <li><input type="text" placeholder="Libellé"><input type="text" placeholder="0.00€"></li>
              <li><input type="text" placeholder="Libellé"><input type="text" placeholder="0.00€"></li>
          </ul>
      </article>
  </section>
</body>
</html>
